name: Build docs

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.9

    - uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        pip install -e ."[github]"
        pip install numpydoc sphinx sphinx_gallery sphinxcontrib-mermaid

    - name: Build documents
      run: |
        cd doc && make html && cd ..
        touch doc/_build/html/.nojekyll

    - name: Publish to gh-pages if tagged or manually triggered
      if: startsWith(github.ref, 'refs/tags') || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
      uses: JamesIves/github-pages-deploy-action@v4.8.0
      with:
        branch: gh-pages
        folder: doc/_build/html
